#progress {
    position: absolute;
    overflow: hidden;
    top: 0px;
    z-index: 10000;
    width: 100%;
    height: 3px;
}

#progress img {
    position: relative;
    height: 100px;
    width: 300%;
    top: -50px;
    left: -100vw;
    opacity: 0.5;
}

h1 {
    width: 100%;
    text-align: center;
}

.example {
    border: 0px solid transparent;
    border-right-width: 4px;
}

.example:hover {
    border-color: lightgray;
}