/* LTK - Copyrights Reserved 2023 - chrislaffra.com - See LICENSE  */

.ltk-vbox {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    gap: 0;
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ltk-hbox {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ltk-text {
    display: inline-block;
    text-align: left;
    padding: 2px;
}

.ltk-code {
    border: 1px solid gray;
    width: 100%;
    height: 100%;
}

.ltk-input {
    border: 1px solid #e1e1e1;
    width: 36px;
    height: 28px;
}

.ltk-container {
    margin: 0;
    padding: 0;
}

.ltk-card {
    background-color: white;
    border-radius: 12px;
    border: 1px solid gray;
    box-shadow: 0 2px 2px 2px #DDD;
    padding: 16px;
}

.ltk-menubar {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    margin-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.ltk-menulabel {
    padding: 4px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.ltk-menulabel:hover {
    background-color: #e8ebee;
}

.ltk-menupopup {
    display: none;
    position: absolute;
    top: 32px;
    border-radius: 4px;
    padding: 4px;
    background-color: white;
    border: 1px solid #DDD;
    box-shadow: 0 2px 2px 2px #DDD;
    z-index: 200;
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ltk-menupopup-open {
    display: block;
}

.ltk-menuitem {
    cursor: pointer;
    padding: 2px;
    min-width: 200px;
}

.ltk-menuitem:hover {
    background-color: #e8ebee;
}

.ltk-menuitem-icon {
    display: inline-block;
    width: 24px;
    padding: 0;
    height: 24px;
    margin-left: 4px;
}

.ltk-menuitem-label {
    display: inline-block;
    margin-left: 12px;
    width: 110px;
    text-overflow: ellipsis;
    padding: 0;
    height: 24px;
}

.ltk-menuitem-shortcut {
    display: inline-block;
    width: 58px;
    padding: 0;
    height: 24px;
    margin-right: 4px;
}

.ltk-table {
    border-collapse: collapse;
}

.ltk-th {
    background-color: rgb(219, 242, 249);
    border: 0 solid lightgray;
    border-bottom-width: 1px;
    padding: 4px 8px;
}

.ltk-td {
    border: 0 solid lightgray;
    border-bottom-width: 1px;
    padding: 4px 8px;
    vertical-align: top;
}

.ltk-log-list {
    position: fixed;
    bottom: 3px;
    width: 100%;
    left: 0;
    height: 232px;
    z-index: 1000;
    overflow-y: auto;
    background-color: white;
    border: 0px solid gray;
    border-top-width: 1px;
}

.ltk-log-header {
    background-color: lightgreen;
    width: 100%;
    height: 26px;
}

.ltk-log-header .ltk-text {
    background-color: lightgreen;
    width: 35px;
    font-size: 12px;
    padding: 6px 8px;
}

.ltk-log-header .ltk-input {
    width: 55px;
    font-size: 12px;
    height: 16px;
    border: 1px solid gray;
    border-radius: 2px;
    background-color: white;
}

.ltk-log-row .ltk-text:nth-child(3) {
    padding-left: 4px;
}

.ltk-log-buttons {
    position: absolute;
    top: 3px;
    right: 15px;
    z-index: 1000;
}

.ltk-log::-webkit-scrollbar {
    display: none;
}

.ltk-log-row {
    width: 100%;
    background-color: rgb(255, 255, 240);
    border: 0px solid lightgray;
    border-bottom-width: 1px;
    height: 0;
}

.ltk-log-row .ltk-text {
    padding: 4px 8px;
    width: 35px;
    font-size: 12px;
}

.ltk-log-row * {
    height: 12px;
}

.ltk-log-row .ltk-text:nth-child(2) {
    padding-left: 12px;
}

.ltk-log-row .ltk-text:nth-child(3) {
    text-wrap: nowrap;
    text-overflow: ellipsis;
    width: calc(100% - 125px);
    height: 14px;
}

.ltk-log-container.ltk-button, .ltk-log-container.ltk-select {
    margin-left: 6px;
}

#ltk-log-ui {
    width: 100%;
    overflow: hidden;
    border-left-width: 3px;
}

#ltk-sequence-ui {
    width: 0;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.ltk-sequence-component {
    margin-top: 20px;
    height: 100%;
    overflow: hidden;
}

.ltk-sequence-component-title {
    padding: 8px;
    min-width: 80px;
    background-color: rgb(250, 230, 234);
    text-align: center;
    border: 1px solid gray;
    margin: 2px auto 0 auto;
    height: 32px;
}

.ltk-sequence-component-line {
    border: 0px dashed gray;
    border-left-width: 1px;
    width: 1px;
    height: 100vh;
    margin: 0 auto;
}

.ltk-sequence-call {
    position: absolute;
    border: 0px solid red;
    border-bottom-width: 2px;
    height: 1px;
}

.ltk-sequence-dot {
    position: absolute;
    background-color: pink;
    border: 1px solid black;
    border-radius: 5px;
    width: 10px;
    height: 10px;
    top: -5px;
    left: -5px;
}

.ltk-sequence-dot .label {
    position: absolute;
    width: 200px;
    height: 16px;
    text-wrap: wrap;
    text-overflow: ellipsis;
    overflow: hidden;
    top: 14px;
    left: -39px;
}

.ltk-vertical-dragger {
    width: 4px;
    background-color: lightgray;
    cursor: ew-resize;
}

.ltk-vertical-dragger:hover {
    background-color: gray;
}