/* LTK - Copyrights Reserved 2023 - chrislaffra.com - See LICENSE  */

.ltk-vbox {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    gap: 0;
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ltk-hbox {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ltk-text {
    text-align: left;
    padding: 2px;
}

.ltk-code {
    border: 1px solid gray;
    width: 100%;
    height: 100%;
}

.ltk-input {
    border: 1px solid #e1e1e1;
    width: 36px;
    height: 28px;
}

.ltk-container {
    margin: 0;
    padding: 0;
}

.ltk-card {
    background-color: white;
    border-radius: 12px;
    border: 1px solid gray;
    box-shadow: 0 2px 2px 2px #DDD;
    padding: 16px;
}

.ltk-menubar {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    margin-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.ltk-menulabel {
    padding: 4px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.ltk-menulabel:hover {
    background-color: #e8ebee;
}

.ltk-menupopup {
    display: none;
    position: absolute;
    top: 32px;
    border-radius: 4px;
    padding: 4px;
    background-color: white;
    border: 1px solid #DDD;
    box-shadow: 0 2px 2px 2px #DDD;
    z-index: 200;
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ltk-menupopup-open {
    display: block;
}

.ltk-menuitem {
    cursor: pointer;
    padding: 2px;
    min-width: 200px;
}

.ltk-menuitem:hover {
    background-color: #e8ebee;
}

.ltk-menuitem-icon {
    display: inline-block;
    width: 24px;
    padding: 0;
    height: 24px;
    margin-left: 4px;
}

.ltk-menuitem-label {
    display: inline-block;
    margin-left: 12px;
    width: 110px;
    text-overflow: ellipsis;
    padding: 0;
    height: 24px;
}

.ltk-menuitem-shortcut {
    display: inline-block;
    width: 58px;
    padding: 0;
    height: 24px;
    margin-right: 4px;
}

.ltk-table {
    border-collapse: collapse;
}

.ltk-th {
    background-color: rgb(219, 242, 249);
    border: 0 solid lightgray;
    border-bottom-width: 1px;
    padding: 4px 8px;
}

.ltk-td {
    border: 0 solid lightgray;
    border-bottom-width: 1px;
    padding: 4px 8px;
}

.ltk-log-container {
    position: fixed;
    bottom: 3px;
    width: 100vw;
    height: 250px;
    z-index: 1000;
    overflow-y: auto;
    background-color: white;
}

.ltk-log {
    padding: 4px;
    border-collapse: collapse;
    border: 1px solid rgb(81, 81, 251);
    background-color: rgb(225, 246, 253);
    width: 100%;
    overflow-y: auto;
}

.ltk-log::-webkit-scrollbar {
    display: none;
}

.ltk-log td, th {
    border: 0px solid rgb(185, 185, 255);
    border-bottom-width: 1px;
    padding: 8px;
}

.ltk-log th {
    position: sticky;
    top: -4px;
    text-align: left;
    background-color: lightgreen;
    font-size: 14px;
    z-index: 100;
}

.ltk-log .ltk-pre {
    margin: 0;
}

.ltk-log-container .ltk-button, .ltk-select {
    margin-left: 6px;
}

.ltk-log-row {
    background-color: rgb(255, 255, 240);
}