.square {
    width: 70px;
    height: 70px;
    border: 1px solid gray;
    cursor: pointer;
}

.choice {
    font-family: "Brush Script MT";
    font-size: 42px;
    font-family: Brush Script MT;
    text-align: center;
    margin: auto;
    width: 90%;
    height: 90%;
}