.tictactoe-square {
    width: 70px;
    height: 70px;
    border: 1px solid gray;
    cursor: pointer;
}
.tictactoe-choice {
    font-size: 42px;
    font-family: Brush Script MT;
    text-align: center;
    margin: auto;
    width: 90%;
    height: 90%;
}
.tictactoe-inside {
    background-color: lightblue;
}
.tictactoe-css {
    margin-top: 10px;
    width: 400px;
    height: 400px;
    background-color: rgb(255, 255, 244);
}